.body {
    width: 80%;
    height: 90vh;
    margin: auto;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    transition: 0.1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    list-style: none;
}

.card-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    padding: 0;
}

.icone {
    width: 90px;
    height: 90px;
}

.icone-nome {
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    width: 150px;
    background-color: rgb(149, 149, 149);
    cursor: pointer;
}

.pagina-icon-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

.modal-icon {
    border-radius: 50%;
    background-color: rgb(146, 146, 146);
    padding: 15px;
    width: 150px;
}

.acessar-button {
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    color: inherit;
    background-color: rgb(176, 176, 176);
}

.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-svg {
    width: 200px;
    height: 200px;
}

.close {
    font-size: 15px;
    cursor: pointer;
    float: right;
    background: none;
    border: none;
    font-weight: bolder;
}

.modal-body {
    width: 350px;
    height: 50%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.item-info {
    color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-footer {}

.modal-footer-header {
    color: rgb(50, 50, 50);
    text-align: center;
}

.modal-history {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%
}

.modal-history-item {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.modal-history-icon {
    border-radius: 50%;
    width: 90px;
    padding: 5px;
}

.modal-history-name {
    font-weight: bold;
    text-align: center;
    color: rgb(50, 50, 50)
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Adaptação para telas de 601px até 900px */
@media (min-width: 601px) and (max-width: 900px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Adaptação para telas de 901px até 1200px */
@media (min-width: 901px) and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}